@page "/"
@using AutoRenderModeServices.Client.Components

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

WebScrape component is not working here, but it works in in the Web Scraper page.
The reason is that the HttpClient needed to call back to the localhost has not been initialized with the BaseAddress yet.
Comment out the WebScrape component below and navigate to the Web Scraper page to see it working.

@* <WebScrape></WebScrape> *@
