@page "/scrape"
@using AutoRenderModeServices.Client.Components

<PageTitle>Scrape Web Site</PageTitle>

<h1>ScrapeWebSite</h1>

@($"Browser:{OperatingSystem.IsBrowser()}")

<WebScrape></WebScrape>

@code {

}
