@using AutoRenderModeServices.Client.Features.WebScraper
@inject IWebScraperService _webScraper


@if (Text is null)
{
    <p>Loading...</p>
}
else
{
    <div style="border : solid; border-color : black; padding: 4px;">
        @Text
    </div>
}

@code {
    [Parameter]
    public string Text { get; set; } = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        Text = await _webScraper.Get();
    }
}
